.nav {
	top: 0;
	right: 0;
	left: 0;
}

.navbar-toolbar {
	font-size: 1.15vw;
	padding-left: 3vw;
	display: flex;
}

.blank-space {
	height: 15vh;
}

.nav-links{
	display: flex;
	align-items: center;
	margin-left: -2vw;
	justify-content: center;
	background-color: #F9F1F1;
	padding: 1.5vw;
	border-top: solid #CF9299;
	border-left: solid #CF9299;
	border-right: solid #CF9299;
	color: #CF9299;
	width: 8vw;
	text-decoration: none;
	border-top-left-radius: 3.5vw;
	border-top-right-radius: 3.5vw;
	z-index: 1;
}

.nav-links.active {
	text-decoration: underline;
	font-weight: bold;
	z-index: 50;
}