.navbar {
	display: flexbox;
	width: 35.33%;
	height: 5.5vh;
	background-color: rgba(94, 93, 93, 0.8); /* Opaque black background */
	border-top-left-radius: 50px; /* Rounded top-left corner */
	border-bottom-left-radius: 50px; /* Rounded bottom-left corner */
	border-top-right-radius: 50px; /* Rounded top-right corner */
	border-bottom-right-radius: 50px; /* Rounded bottom-right corner */
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: 'IBM Plex Sans', sans-serif;
	padding-left: 2.9rem;
}

.navbar a {
	flex: 1;
	text-decoration: none;
	color: white;
	font-size: 0.75rem;
}

.icon-link {
	flex: 1;
	font-size: 1rem;
	color: white;
}

.hr {
	height: 2.75vh;
	width: 0.01vw;
	border-width: 0;
	background-color: white;
}
